<%= content_tag :h1, "Products" %>
<%= div_for @products do |product| %>
  <div>
    <%= content_tag :strong, product.name %>
  </div>
  <div class="body">
  </div>
  <div>
    <%= button_tag 'More Info', class: 'js-more', data: {id: product.id} %>
  </div>
<% end %>

<script type="text/javascript" charset="utf-8">
  $(function(){
    $(".js-more").on('click', function(){
      var p_id =  $(this).data('id');

      $("#product_" +p_id+" div.body").text("");
      $.get("/products/" + p_id + "/description", function(resp) {
        $("#product_" +p_id+" div.body").append(resp);
      });
      $.get("/products/" + p_id + "/inventory", function(resp) {
         let r = (resp == 'true') ? "Available" : "Sold Out"
        $("#product_" +p_id+" div.body").append("<br>" + r);
      });

    });
  });
</script>
